@model IEnumerable<NewsSite.Models.Topic>
@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/StyleSheetMain.css" rel="stylesheet" />

<div class="image">   
<img src="~/pictures/banner2.jpg" alt="Alternate Text" />
</div>

<div class="text-center">
    <h1 class="display-4">Последние новости </h1>

</div>



<div class="table-center">

    @foreach (var item in Model.Reverse())
    {

        <div class="TopicNamecenter">
            <h4> @Html.DisplayFor(modelItem => item.NameOfTopic)  </h4>
        </div>
        <div class="TopicBodycenter">
            @Html.DisplayFor(modelItem => item.TopicBody)
        </div>

    }


